# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Adatok és Modellek (Ezeket API-n töltjük fel, ne legyenek a képben!)
app/models/*.pkl
data/
temp_dicom/
logged.txt

# Git & IDE
.git/
.gitignore
.idea/
.vscode/

# CI/CD & Docker
.github/
Dockerfile
docker-compose.yml